body {
    color: #c7c7c7;
    font-family: Georgia, serif;
    text-decoration: none;
    font-size: 25px;
    padding: 0;
}

h1 {
    color: #c7c7c7;
    font-family: Georgia, serif;
    text-decoration: none;
    font-size: 40px;
}

table {
    border: 3px solid dimgray;
    border-collapse: collapse;
    width: 80%;
}

td {
    text-align: center;
    border: 3px solid dimgray;
    border-collapse: collapse;
    font-size: 25px;
}

a {
    text-decoration: none;
}

select {
    background-color: #242424;
    color: aliceblue;
    font-size: 25px;
    border: 0;
}

#table-titles {
    color: white;
}

.option {
    border-radius: 4px;
    font-family: Georgia, serif;
    color: white;
    font-size: 18px;
    padding: 15px;
    text-decoration: none;
    margin: auto;
}

.option:hover {
    background-color: chartreuse;
}

#options {
    top: 0;
    left: 0;
    margin: 0;
    background-color: #242424;
    position: absolute;
    width: 100%;
    height: 50px;
    border-right: 2px solid dimgray;
}

#content {
    background-color: #c7c7c7;
    top: 50px;
    left: 0;
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.common-link {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

#common-link:hover {
    color: chartreuse;
}