body {
    background-color:#1a1a1a;
    color: #c7c7c7;
    font-family: Georgia, serif;
    text-decoration: none;
}

h1 {
    color: #c7c7c7;
    font-family: Georgia, serif;
    text-decoration: none;
}

table {
    border: 3px solid dimgray;
    border-collapse: collapse;
    width: 80%;
}

td {
    text-align: center;
    border: 3px solid dimgray;
    border-collapse: collapse;
    font-size: 25px;
}

#table-titles {
    color: white;
}

.btn {
    border-radius: 4px;
    font-family: Georgia, serif;
    color: #c7c7c7;
    font-size: 42px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    color: white;
}

#options {
    background-color: #343434;
    position: absolute;
    width: 20%;
    height: 100%;
    border-right: 2px solid dimgray;
}

#content {
    position: absolute;
    height: 100%;
    width: 80%;
    left: 300px;
}

#sell-car {
    text-decoration: none;
    color: white;
}

#sell-car:hover {
    color: chartreuse;
}